.externalLinkIcon {
  display: none;
  opacity: 0;
  margin-left: -3px;
  width: 0px;
}

.linkButton {
  display: flex;
}

.linkButton span {
  margin-right: 4px;
}

.linkButton:hover .externalLinkIcon {
  display: inline-block;
  animation: showIn 300ms forwards;
}


@media (min-width: 768px) {
  .experience {
    &:nth-of-type(odd) {
      .experienceIcon {
        left: 50%;
      }
    }

    &:nth-of-type(even) {
      .experienceIcon {
        right: 50%;
      }
    }
  }
}


@keyframes showIn {
  to {
    opacity: 1;
    margin-left: 4px;
    width: 24px;
  }
}