// .externalLinkIcon {
//   display: none;
//   opacity: 0;
//   margin-left: -3px;
//   width: 0px;
// }

// .linkButton {
//   display: flex;
// }

// .linkButton span {
//   margin-right: 4px;
// }

// .linkButton:hover .externalLinkIcon {
//   display: inline-block;
//   animation: showIn 300ms forwards;
// }

@keyframes showIn {
  to {
    opacity: 1;
    margin-left: 4px;
    width: 24px;
  }
}