@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-begavior: smooth;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.timeline .timeline-item:not(:first-child) {
  margin-top: 2rem;
}

.item-photo::after {
  content: '';
  width: 4px;
  height: 80%;
  background: #ccc;
  opacity: 0.2;
  border-radius: 0 0 50% 50%;
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.hide {
  opacity: 0;
  transform: translateX(-80%);
}

.show-in {
  transition: ease 1s;
  opacity: 1;
  transform: tranlateX(0);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  h1,
  h2,
  h3,
  p,
  span {
    color: #222;
  }


  h1,
  h2,
  h3,
  .font-display {
    font-family: 'Space Grotesk', sans-serif;
  }
}